<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceURL" value="http://localhost:9998/RemoteObject.MyObject"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>