<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConStr" connectionString="server=118.194.49.57;database=test;uid=root;pwd=bonree"/>
    <add name="SqlConStr" connectionString="server=192.168.1.41;database=yucw;uid=sa;pwd=Abc88888"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
