<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Oracletest-20160627210606.mdf;Initial Catalog=aspnet-Oracletest-20160627210606;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="OdbcStr" connectionString="Driver={sql server};server=192.168.1.177;uid=sa;pwd=may123;database=test" />
    <add name="OleDbStr" connectionString="Provider=SQLOLEDB;server=192.168.1.177;uid=sa;pwd=may123;database=test" />
    <add name="SqlConStr" connectionString="server=192.168.1.177;uid=sa;pwd=may123;database=test" />
    <add name="MySqlConStr" connectionString="Persist Security Info=False;server=122.11.58.20;port=3306;database=test;uid=apm;pwd=apm" />
	<add name="oraconstr" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL = TCP)(HOST = 192.168.1.184)(PORT = 1512)))(CONNECT_DATA = (SID = orcl10g)(SERVER = DEDICATED));User ID = may;Password = may123)"/>
	<add name="Model1" connectionString="data source=WIN-DF7U5UBVC7L;initial catalog=test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=WIN-5ISEUFGJD41\DONET;initial catalog=test;persist security info=True;user id=sa;password=bonree365#^%;MultipleActiveResultSets=True;App=EntityFramework" />
  </connectionStrings>
  <appSettings>
    <add key="ws1.wstest" value="http://localhost:86/wstest.asmx" />
    <add key="redis-server" value="192.168.1.177" />
    <add key="mongodb" value="mongodb://192.168.74.129:27017" />
    <add key="mongodatabase" value="test" />
    <add key="BeITMemcacheIP" value="192.168.1.177" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_WcfService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8010/Service/WebService/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="WebServiceReference.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://localhost:8010/Service/WcfService/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WcfService" contract="WCFServiceReference.IService" name="WSHttpBinding_WcfService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-SP7NSF2" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 2E1E51B6-76F4-4ADD-A23B-931C7BDB2380-->
