<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      <add assembly="System.Xaml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime/> 
</system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WeatherWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"
        binding="customBinding" bindingConfiguration="WeatherWebServiceSoap12"
        contract="WeatherServiceReference1.WeatherWebServiceSoap" name="WeatherWebServiceSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <TestWebService.Properties.Settings>
      <setting name="TestWebService_MyWebServiceReference_WebService1"
        serializeAs="String">
        <value>http://localhost:8082/WebService1.asmx</value>
      </setting>
    </TestWebService.Properties.Settings>
  </applicationSettings>
</configuration>